<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <h4>フォロワ一覧</h4>
      <% if @users.exists? %>
        <table class='table table-hover'>
          <% @users.each do |user| %>
            <tr class="text-center">
              <td class="col-3">
                <%=link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image(70,70) %>
                <% end %>
              </td>
              <td class="col-3 align-middle">
                <%=link_to user_path(user) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td class="col-3 text-left align-middle">
                <%= user.introduction %>
              </td>

              <td class="col-3 align-middle">
                <div id="follow">
                  <% if user_signed_in? %>
                    <%= render 'user/relationships/follow_button', user: user %>
                  <% end %>
                </div>
              </td>

            </tr>
          <% end %>
        </table>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>
