<% if admin_signed_in? %>
  <%= link_to admin_user_path(post.user) do %>
    <div>
      <%= image_tag post.user.get_profile_image(100,100) %>
    </div>
    <div class="font-weight-bold text-dark">
      <%= post.user.name %>
    </div>
  <% end %>
<% else %>
  <%= link_to (post.user) do %>
    <div>
      <%= image_tag post.user.get_profile_image(100,100) %>
    </div>
    <div class="font-weight-bold text-dark">
      <%= post.user.name %>
    </div>
  <% end %>
<% end %>