<div class="container">
  <div class="row">
    <div class="col-md-5 mt-4">
      <div>
      <%= @post.restaurant_name %>
      </div>
      <div>
        <% @post_tags.each do |tag|%>
          <%=tag.name %>
        <% end %>
      </div>
      <div>
        <% if @post.user == current_user %>
          <%= link_to "編集する", edit_post_path %>
          <%= link_to "削除する", post_path(@post.id), method: :delete %>
        <% end %>
      </div>
      <div class= "row text-center">
        <table style="width: 100%">
          <tbody>
            <tr>
              <td style="width: 80%">
                <%= image_tag @post.get_image[0], size: "100x100" %>
              </td>
              <td>
                <%= @post.description %>
              </td>
            </tr>
            <tr>
              <td>
                <% if user_signed_in? %>
                  <div id="favorite_<%= @post.id %>">
                    <%= render 'user/favorites/favorite', post: @post %>
                  </div>
                  <%= render 'user/post_comments/form', post: @post, post_comment: @post_comment %>
                <% end %>
              </td>
            </tr>
              <td>
                <%= @post.favorites.count %> いいね
                :コメント数：<%= @post.post_comments.count %>
              </td>
            </tr>
            <tr>
              <td id="comments-area">
                <%= render 'user/post_comments/comments', post: @post %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


