<div class="container">
  <div class="row">
    <div class="heading">
      <h4>ユーザー詳細</h4>
    </div>
    <table>
      <tr>
        <td><%= image_tag @user.get_profile_image(100,100) %></td>
      </tr>
      <tr>
        <td>ユーザーID</td>
        <td>@user.id</td>
      </tr>
      <tr>
        <td>ユーザー名</td>
        <td>@user.name</td>
      </tr>
      <tr>
        <td>ユーザーステータス</td>
        <td>
          <%= if @user.is_deleted == false %>
            <p>有効</p>
          <%= else %>
            <p>退会</p>
          <% end %>
        </td>
      </tr>
    </table>
    <div>
      <%= link_to "編集する", edit_admin_user_path(@user) %>
    </div>
    <div>
      <h4><%= @user.name %>さんの投稿一覧</h4>
      <%= render '/user/posts/index_without_detail', posts: @posts %>
    </div>
  </div>
</div>